*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgba(221, 181, 229, 0.932);
    color:rgb(64, 45, 97);
    font-family:cursive;
}
#top{
    background-color:rgb(200, 224, 244);
    padding:20px;
    text-align:center;

}
#top > h1{
    margin-bottom: 20px;
    font-family: "Great Vibes", cursive;

}
#top > p{
    color:rgb(131, 32, 153);
    font-style: italic;
    text-decoration: underline;
    font-family: "Rubik Gemstones", system-ui;
}
nav{
    background-color: rgb(249, 237, 220);
    padding: 10px;
}
nav > ul{
   list-style-type: none;
   text-align: center;

}
nav > ul > li{
    border:1px solid rgb(136, 0, 255);
    display:inline-block;
    width: 170px;
    margin:20px;
    background-color: rgb(200, 255, 253);
    border-radius: 20px;
    padding: 10px 0;
}
nav a{
    color:rgb(34, 124, 198);
    font-weight: bold;
    text-decoration: none;
    
}
nav a:hover{
    color:rgba(226, 43, 177, 0.696)
}
section{
    background-color: rgba(249, 249, 237, 0.336);
    width: 70%;
    margin: 30px auto;
    padding:30px;
}
section > h2{
    margin-bottom: 10px;
    color: rgb(138, 0, 134);
}
section ul, section ol{
    margin-left: 20px;
}
section li{
    margin-bottom: 2px;
}
table,th,td{
    width: 35%;
}
iframe{
    display: block;
    margin:0 auto;
}
figure{
    display: inline-block;
}